:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  height: 100vh;
}

.users-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-template-rows: auto;
  gap: 1em;
}

.user-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px #aaa;
  border-radius: 5px;
}


.page-nav button {
    color: blue;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 2px;
    padding: .5em .7em;
}

.page-nav button:hover{
  border-color: blue;
}

.page-nav button:active,
.page-nav button:focus {
  background-color: blue;
  color: white;
  border-color: blue;
}

.page-nav__list {
  display: flex;
}

